.checkout-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 70vw;
  height: 700px;
}

.products-container {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 30vw;
  height: 700px;
  background: darkslategrey;
}
